@import "../../media-queries.scss";

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;

  @include media(">phone") {
    align-items: flex-start;
  }

  .top {
    display: flex;
  }
  
  .bottom {
    display: flex;
    flex-direction: column;

    @include media(">phone") {
      flex-direction: row;
    }
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(">phone") {
      align-items: flex-start;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    margin: 1em;

    @include media(">phone") {
      margin: 0 2em;
      align-self: center;
    }
  }

  .img {
    width: 200px;
    object-fit: contain;
    align-self: flex-start;
  }
}
