@import "../../media-queries.scss";

.intro {
  text-align: center !important;

  p {
    text-align: center;
  }
}

.us {
  width: 90%;
  margin-top: 2em;
}

@include media(">tablet") {
  .us {
    width: 50%;
    margin-top: 3em;
  }
}