@import "../../media-queries.scss";

.header {
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center center;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-image: url('../../images/hesselby-slott-thumb.jpg');
    background-position: center center;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.02);
    z-index: 1;
    transition: opacity 0.4s;

    @include media(">laptop") {
      background-position: center -100px;
    }
  }

  @include media(">phone") {
    height: 320px;
  }

  @include media(">=tablet") {
    height: 400px;
  }

  @include media(">laptop") {
    height: 600px;
    background-position: center -100px;
  }

  &.loaded::before {
    opacity: 0;
  }

  .headerTitleHolder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .headerTitle {
      font-family: 'Parisienne', cursive;
      font-size: 4em;
      margin-bottom: 0.1em;
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
      z-index: 1;
  
      @include media(">laptop") {
        font-size: 6em;
      }
    }
    
    .headerSubtitle {
      font-family: 'Parisienne', cursive;
      font-size: 1.5em;
      padding-bottom: 1em;
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
      z-index: 1;

      @include media(">laptop") {
        font-size: 2em;
      }
    }
  }
}

