@import-normalize;

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Fauna One', serif;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: underline;
  cursor: pointer;
  line-height: 1.5;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &[target=_blank]:after {
    background-image: url('./images/external-link.png');
    position: relative;
    background-size: 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    opacity: 0.7;
    margin-left: 2px;
    content: "";
  }
}

p {
  text-align: left;
  line-height: 1.5;
  margin: 0.4em 0;
}

.image-border {
  border: 10px solid white;
  box-shadow: 0 1px 30px -10px #a0a0a0;
}

figcaption {
  margin-top: 0.5em;
  font-style: italic;
  font-size: 0.85em;
}

section iframe {
  width: 100%;
  height: 420px;
}