.short-info {
  margin-top: auto;
  margin-bottom: 2em;
}

.short-info .location {
  font-family: 'Parisienne', cursive;
  font-size: 3em;
  text-align: center;
}

.short-info .date {
  font-family: 'Parisienne', cursive;
  font-size: 1.5em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.short-info .divider {
  margin-top: 5em;
}

.short-info .timer {
  margin: 2em 0;
  display: flex;
  justify-content: space-evenly;
  
}
.short-info .timer .timer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.short-info .timer .timer-content p {
  margin: 0;
}

.short-info .timer .timer-content p.timer-header {
  font-size: 2em;
}